<a href="https://colab.research.google.com/github/annosi/python-starter-codes/blob/main/Freecodecamp_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Analysis with Python Projects#
**Demographic Data Analyzer**

*Written by Ann Osi*

*Started on 19 Dec 2020 at 6:34pm*

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#I imported the files from my computer library into google colab
from google.colab import files
uploaded = files.upload()

Saving adult.data.csv to adult.data.csv

In [ ]:
#I allowed google colab read the content of the file
import io
data = pd.read_csv(io.BytesIO(uploaded['adult.data.csv']))
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [ ]:
#I converted the file into a dataframe
demo= pd.DataFrame(data)
demo.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [ ]:
#checking to see if there are any null values
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
demo.describe()

                age        fnlwgt  ...  capital-loss  hours-per-week
count  32561.000000  3.256100e+04  ...  32561.000000    32561.000000
mean      38.581647  1.897784e+05  ...     87.303830       40.437456
std       13.640433  1.055500e+05  ...    402.960219       12.347429
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178270e+05  ...      0.000000       40.000000
50%       37.000000  1.783560e+05  ...      0.000000       40.000000
75%       48.000000  2.370510e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

***...analysis begins***

How many people of each race are represented in this dataset? This should be a Pandas Series with race name as the index labels.

In [ ]:
race_number = pd.Series(demo.race.value_counts())
race_number

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [ ]:
#First, I create a new dataframe for only 'Male'
age_men = demo.loc[demo['sex']=='Male']
#Then, I find the average age in that dataframe rounded to 2 d.p.
round(age_men['age'].mean(),2)

39.43

What is the percentage of people who have a Bachelor's Degree?

In [ ]:
#Count number of people with Bachelor's Degree
bach = len(demo.loc[demo['education']=='Bachelors'])
#Then, I count total number of people with education
educ = len(demo['education'])
#Then, I find the percentage
bach_percent = round(100*(bach/educ),2)
bach_percent

16.45

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

*paused 19.12.20 7:57pm

edited part of the code 21.12.20 11:07pm

continued 21.12.20 10:04pm

In [ ]:
#First, I count people with advanced education
adv_educ = len(demo.loc[(demo['education']=='Bachelors') | (demo['education']=='Masters') | (demo['education']=='Doctorate')])
#Next, I count people with advanced education and salary >50K
adv_educhigh = len(demo.loc[(
    (demo['education']=='Bachelors') | (demo['education']=='Masters') | (demo['education']=='Doctorate'))
 & (demo['salary']=='>50K')])
#And finally, I find the percentage
adv_educpcnt = round(100*(adv_educhigh/adv_educ),2)
adv_educpcnt

46.54

What percentage of people without advanced education make more than 50k?

In [ ]:
#First, I calculate total number of people
total = demo['education'].count()
#Then, I count people with no advanced education
adv_educnone = demo.loc[(demo['education']!='Bachelors') & (demo['education']!='Masters') & (demo['education']!='Doctorate')]
#Then, I count people with no advanced education
adv_educnonetotal =adv_educnone['education'].count()
#Then, I filter for people with no advanced education and salary >50k
adv_educnonehigh = adv_educnone.loc[adv_educnone['salary']=='>50K']
#Then, I count them
adv_educnonehightotal = adv_educnonehigh['salary'].count()
#And finally, I find the percentage
pcnt = round(100*(adv_educnonehightotal/adv_educnonetotal),2)
pcnt

17.37

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [ ]:
#First, I find the minimum number of hours per week
min_hrs = demo['hours-per-week'].min()
min_hrs
#Then, I find the total number of people who work the minimum
min = demo.loc[demo['hours-per-week']==1]
min_ppl = min['hours-per-week'].count()
#Then, I find the no. of people who work the minimum with salary >50K
sal = min.loc[min['salary']=='>50K']
min_sal = sal['salary'].count()
#Then, I find the percentage
min_pcnt = round(100*(min_sal/min_ppl),2)
min_pcnt

10.0

What country has the highest percentage of people that earn >50K and what is that percentage?

In [ ]:
#First, I'm going to count the total number of people per country
country = demo['native-country'].value_counts()
#Then, I'm going to count the total number of people per country with salary >50K
high = (demo.loc[demo['salary']=='>50K'])['native-country'].value_counts()
#Then, I'm going to find the percentage of people with salary >50K per country
con_pcnt = 100*(high/country)
#Then, I'm going to find the country with the highest percentage
con_high = con_pcnt.nlargest(n=1)
con_high

Iran    41.860465
Name: native-country, dtype: float64

Identify the most popular occupation for those who earn >50K in India.

In [ ]:
demo.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [ ]:
#First, I filter for people with salary >50K in India
india = demo.loc[(demo['native-country']=='India') & (demo['salary']=='>50K')]
#Now I'm going to count toal number of people per occupation
occupation = india['occupation'].value_counts()
#Now I'm going to identify the most popular occupation
popular = occupation.idxmax()
popular

'Prof-specialty'

Completed 22 Dec 2020 12:10 am